parameters:
    level: 5
    paths:
        - src/
    bootstrapFiles:
        - vendor/autoload.php
    parallel:
        maximumNumberOfProcesses: 4
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            identifier: assign.propertyReadOnly
            path: src/Atom/Http/Request.php
        -
            identifier: assign.propertyReadOnly
            path: src/Atom/Http/UploadedFile.php
